$paleorange:#999c99;
a{
  .nav-link.sidebarlink {
      color: $paleorange;
  }
}
a:hover {
    background-color: orange;
    text-decoration: none;
}
a.navbar-brand:hover {
    background-color: transparent;
}

.clip-text {
  background: url(https://media.giphy.com/media/6wpHEQNjkd74Q/giphy.gif);
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  color: transparent; // set to transparent, otherwise won't see the background


}
